

<div class="links">
	<ul class="nav nav-pills">
		<!--{{ navigation:links group="footer" }}-->
	</ul>
</div>



<div class="row">
{{ widgets:area slug="pie" }}
</div>
Diseño Web: <a href="{{ url:site }}">imaginamos.com</a>
