<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">{{ settings:site_name }}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{{ navigation:links group="header" }}
		</ul>
<div class="redes">
		{{ widgets:area slug="head" }}
	</div>

		<!--<ul class="nav navbar-nav navbar-right">
			{{ if user:not_logged_in }}
			<li>
				<a href="{{ url:site }}register">{{ helper:lang line="user_register_btn" }}</a>
			</li>{{ endif }}

			<li class="dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ if user:logged_in }}Mi Cuenta  {{ else }}Ingresar {{ endif }}<b class="caret"></b></a>

				<ul id="navLogin" class="dropdown-menu">

					{{ theme:partial name="header-userLogin" }}

				</ul>
			</li>
		</ul> -->
	</div><!-- /.navbar-collapse -->

	</div>
</nav>

<!--

<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="{{ url:site }}">{{ settings:site_name }}</a>
<div class="nav-collapse" id="main-menu">
<ul class="nav" id="main-menu-left">
{{ navigation:links group="header" }}
</ul>

{{ theme:partial name="header-userLogin" }}

</div>
</div>
</div> -->

