<title>{{ template:title }} | {{ settings:site_name }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<base href="{{ url:base }}"/>

{{ theme:favicon file="favicons/favicon.ico"}}
{{ theme:favicon file="favicons/apple-touch-icon.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" }}

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{ asset:css file="{{theme:options:bootSwatch_layout}}.css" }}
{{ asset:css file="pyro_bootswatch.css" }}
{{ asset:css file="developer.css" }}

{{ asset:js file="jquery-1.9.1.js" }}
{{ asset:js file="bootstrap.js" }}
{{ asset:js file="developer.js" }}


￼{{ asset:render }}


{{ template:metadata }}