/*!
 * Imaginamos : Núcleo Tecnológico
 * Copyright 2014 Imaginamos, Inc.
 *
 * Estilos implementados por los desarrolladores
 */

 /* Para botón de volver */
 .back{
 	float: right;
 	margin-right: 5%;
 }

 /* Para poner la imagen a la izquierda y dejar que el texto pase por el lado derecho */
 .img-float-left{
 	float: left;
 	margin-right: 10px;
 }

 /* Para poner texto a la derecha como fecha de publiación, autor, etc.. */
 .small-float{
 	float: right;
 	margin-right: 20px;
 	font-style:italic;
 }

 /* Estilo para los titulos de las imagenes en la galeria */
 .title-gallery{
 	position: absolute;
 	color: white;
 	margin-left: 5px;
 }
 .title-gallery:hover{
 	color: #18bc9c;
 	text-decoration: underline;
 }

 /* Activar menús */
 .active{
 	z-index: 2;
 	color: #ffffff !important;
 	background-color: #2c3e50;
 	border-color: #2c3e50;
 }
 .active a{
 	text-decoration: none;
 	color: #ffffff !important;
 }
 .list-group-item a{
 	color: black;
 	text-decoration: none;
 }

 /* Para Videos Responsive */
 .video{
 	height:0;
 	overflow: hidden;
 	padding-bottom: 56.25%;
 	padding-top:30px;
 	position: relative;
 }
 .video iframe,
 .video object,
 .video embed,
 .video video{
 	height:100%;
 	left: 0;
 	position: absolute;
 	top: 0;
 	width:100%;
 }


