<!doctype html>
<html>
  <head>
    {{ theme:partial name="metadata" }}
    <style>

    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
    </style>

  </head>
<body>

  <div class="container">


    <div class="jumbotron">

          <h1 align="right" style="font-size:8em; color: #777">404</h1>

          <br />

          {{ template:body }}
        </div>

  </div>


</body>
</html>
